<footer>
  <div class="row">
    <div class="small-4 columns">
      <p>LOGO</p>
      <p>Draft is made by the same fine people who brought you Helm - the package manager for Kubernetes.</p>

      <p>You can find us on Slack, or hanging out in our  weekly community call. We'd love to hear any feedback or questions you may have.</p>
    </div>
    <div class="small-6 small-offset-2 columns">
      <ul class="menu vertical">
        <li>Github</li>
        <li>Twitter</li>
        <li>Slack</li>
      </ul>
    </div>
  </div>
</footer>
