<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else if %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ page.title }}{% endif %}">

  <!-- twitter card-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@helmpack" />
  <meta name="twitter:site" content="@helmpack" />
  <meta name="twitter:title" content="Draft | Easy Kubernetes Development" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="https://draft.sh/design/avatar.png" />

  <link rel="alternate" type="application/rss+xml" title="Deis Sitemap" href="//deis.com/sitemap.xml" />

  <style type="text/css"> {% include critical.min.css%} </style>
  <noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css"/>
  </noscript>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>

  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% else %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  {% endif %}
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">
</head>
