// Import Dependencies (package.json)
// ---------------------------------------
//
@import "../../node_modules/foundation-sites/scss/foundation/components/grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/type";
@import "../../node_modules/foundation-sites/scss/foundation/components/visibility";


// Variables
// ---------------------------------------
//
$light: #F6F9FA;
$mid: #7E949C;
$bluel: #BCE2F3;
$bluem: #37B0E7;
$blued: #277A9F;
$yellow: #EAF1CA;


// Mixins
// ---------------------------------------
//
@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

// link effect
@mixin ripple($color: $pink) {
  position: relative;
  display: inline-block;
  text-align: center;
  @include transition;

  &::after {
    display: inline-block;
    content: "";
    background: $color;
    height: 3px;
    width: 10%;
    opacity: 0;
    margin: -0.75em auto 0;
    @include transition;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Fonts
// ---------------------------------------
//
@font-face{
  font-family: 'klinic';
  src: url('../fonts/klinicslabmedium-webfont.eot');
  src: url('../fonts/klinicslabmedium-webfont.eot?#iefix') format("embedded-opentype"),
    url('../fonts/klinicslabmedium-webfont.woff2') format("woff2"),
    url('../fonts/klinicslabmedium-webfont.woff') format("woff"),
    url('../fonts/klinicslabmedium-webfont.ttf') format("truetype"),
    url('../fonts/klinicslabmedium-webfont.svg#klinic_slabmedium') format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansregular';
  src: url('../fonts/worksans-regular-webfont.eot');
  src: url('../fonts/worksans-regular-webfont.eot?#iefix') format("embedded-opentype"),
       url('../fonts/worksans-regular-webfont.woff') format('woff'),
       url('../fonts/worksans-regular-webfont.ttf') format('truetype'),
       url('../fonts/worksans-regular-webfont.svg#f310d4dccd89e059e79d3b6deebb4725') format('svg');
  font-style: normal;
  font-weight: 400;
}

$klinic: 'klinic', Consolas, 'Andale Mono', Rockwell, Courier, sans-serif;
$work: 'work_sansregular', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;

@mixin klinicReg {
  font-family: $klinic;
  font-weight: 400;
  letter-spacing: 0.0125em;
}

@mixin klinicBold {
  font-family: $klinic;
  font-weight: 500;
  letter-spacing: -0.02em;
}


// Core Layout
// ---------------------------------------
//

body {
  background: $light;
  font-family: $work;
  color: $mid;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100%;
}

h1, h2, h3 {
  font-family: $klinic;
}

p,
li,
small {
  a {
    color: $bluem;
    position: relative;
    @include transition;

    &:after {
      width: 10%;
      height: 3px;
      position: absolute;
      bottom: -2px;
      left: 50%;
      display: block;
      content: " ";
      background: $bluem;
      opacity: 0;
      @include transition;
    }

    &:hover:after {
      width: 100%;
      left: 0;
      opacity: 1;
    }
  }
}

.vertical-center {
  @include vertical-align;
}

#cookie-banner {
  background: rgba(255,255,255,0.85);
  padding: 0.75rem 0;
  text-align: center;
  z-index: 1501;
  position: static;

  .cc-container   {
    max-width: 75rem;
  }

  p {
    margin: 0;
    font-size: 0.825rem;
    line-height: 1.2;
  }
}

#topbar {
  position: absolute;
  width: 100%;
  height: 92px;
  z-index: 900;
  top: 48px;
  left: 0;
  padding: 0.5em 0;
  background: rgba(255,255,255,0);
  @include transition;

  .row {
    max-width: 65rem;
  }

  &:hover {
    background: rgba(255,255,255,0.7);
  }

  h1.logo {
    line-height: 1;
    color: $blued;
    margin-left: -0.25rem;
    margin-top: 0.75rem;
    max-width: 150px;
  }

  ul {
    padding: 0;
    margin-top: 1.5rem;
    float: right;
    text-align: right;

    li {
      float: none;
      display: inline-block;

      a {
        padding: 0.75em 0 0;
        margin-left: 2.25em;
        color: darken($blued, 10%);
      }
    }
  }
}


// Homepage Intro Hero
// ---------------------------------------
//
#hero {
  background-color: #EAF3F7;
  background-image:
    url('../images/sky.svg'),
    url('../images/topo-pattern-tile.jpg');
  background-size: auto auto, auto 100%;
  background-repeat: no-repeat, repeat;
  background-position: 30% -15px, 0 0;
  text-align: center;
  padding: 15vw 0;
  min-height: 100%;
  position: relative;
  z-index: 8;

  &:after {
    display: block;
    width: 100%;
    height: 5px;
    background: $bluem;
    content: " ";
    position: absolute;
    top: 0;
    z-index: -10;
    opacity: 0.333;
  }

  .titles {
    z-index: 150;
    transform: translateY(-100%);
    margin-top: -250px;
  }

  h1 {
    color: $blued;
    font-size: 3rem;

    &:after {
      border: 1px solid white;

    }
  }

  h2 {
    color: $bluem;
    font-size: 2rem;
    font-family: $klinic;
  }
}


#magic {
  width: 50vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #000;

  align-items: center;
  flex-direction: column;
}

#ball {
  background: RGB(58, 110, 222);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(58,110,222,1) 100%);
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#ball #display {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;

  animation-delay: 0.1s;
  background-color: #eee;
  width: 18vmin;
  height: 18vmin;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1.5vmin 1.5vmin 1.5vmin rgba(55, 55, 55, 0.35);
}

#magic-tip {
  font-size: 2vmin;
  text-align: center;
}

#magic-description {
  margin: 3vmin;
}

.eight{
  font-size: 12vmin;
}
@keyframes shake {
  0%{ transform: rotate(1deg) translate(3px,4px);}
  5%{ transform: rotate(2deg) translate(-4px,-1px);}
  10%{ transform: rotate(0deg) translate(0px,-5px);}
  15%{ transform: rotate(2deg) translate(4px,0px);}
  20%{ transform: rotate(1deg) translate(-3px,3px);}
  25%{ transform: rotate(4deg) translate(4px,-3px);}
  30%{ transform: rotate(1deg) translate(3px,-5px);}
  35%{ transform: rotate(-2deg) translate(3px,4px);}
  40%{ transform: rotate(0deg) translate(-3px,-3px);}
  45%{ transform: rotate(-1deg) translate(4px,4px);}
  50%{ transform: rotate(1deg) translate(-4px,3px);}
  55%{ transform: rotate(2deg) translate(-4px,-1px);}
  60%{ transform: rotate(0deg) translate(0px,-5px);}
  65%{ transform: rotate(2deg) translate(4px,0px);}
  70%{ transform: rotate(1deg) translate(-3px,3px);}
  75%{ transform: rotate(4deg) translate(4px,-3px);}
  80%{ transform: rotate(1deg) translate(3px,-5px);}
  85%{ transform: rotate(1deg) translate(1px, -2px);}
  100%{ transform: rotate(0deg) translate(0px, 0px);}
}
.shake {
   animation: shake 1s ease-out 1;
}



// Homepage Contents
// ---------------------------------------
//
#info {
  background: $bluem;
  color: white;
  padding: 7em 0;

  h3 {
    color: white;
  }
}

.row {
  max-width: 72.5rem;
}

.content {
  p,
  li {
    font-size: 1.35rem;
    line-height: 1.7;
  }

  .center {
    text-align: center;
  }

  .button {
    margin: 1em auto;
    background: rgba(255,255,255,0.2) url('../images/tiles/seigaiha.png') repeat 0% 50%;
    background-attachment: fixed;
    background-size: 25% 25%;
    font-family: $klinic;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.825rem 3rem;
    color: $blued;
    border-radius: 5em;
    border: none;
    @include transition;
    @include box-shadow;

    &:hover {
      color: $bluem;
      background-size: 15% 15%;
      opacity: 0.95;
    }
  }

  img {
    min-width: 90%;
    height: auto;
    margin-right: -5%;
  }

  code,
  pre {
    background: darken($bluem, 12.5%);
    color: white;
    border: none;
    outline: none;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.25em;
    letter-spacing: 0.05em;
  }

  pre {
    // padding: 0.5em;
  }

  ul {
    padding: 1em 0;

    li {
      margin-bottom: 1em;
      padding-right: 1.75em;
      list-style-type: none;
      position: relative;

      &:before {
        content: "$";
        font-size: 1rem;
        display: inline-block;
        background: black;
        border-radius: 4em;
        text-align: center;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        left: -2.2em;
        top: 0.15em;
        color: $blued;
        background: lighten($bluem, 10%);
      }
    }
  }
}

.feature-main {
  min-height: 100%;
  display: block;
  position: relative;
  padding-top: 8.5rem;
  padding-bottom: 6.5rem;

  h3 {
    color: darken($bluem, 10%);
    font-size: 2.75rem;
    letter-spacing: 0.02em;
    margin: 4rem 0 2.5rem;
    line-height: 1.15;
    text-align: center;
  }
}

dl {
  display: table;

  dt {
    color: white;
    font-size: 1.35rem;
    letter-spacing: 0.05em;
    font-family: $klinic;
    display: inline-block;
    width: 25%;
    margin: .5rem 2.5% 2rem 0;
    vertical-align: top;
    padding-top: 0.5rem;
    border-top: 1px solid darken($bluem, 5%);
  }

  dd {
    display: inline-block;
    width: 70.5%;
    margin: .5rem 0 2rem 0;
    clear: both;
    min-height: 2rem;
    vertical-align: top;
    padding-top: 0.825rem;
    border-top: 1px solid darken($bluem, 5%);

    &:after {
      clear: both;
    }

  }
}

footer {
  background: white;
  color: $mid;
  padding: 5em 0;

  img {
    margin: -1rem 0 1.75rem;
  }

  ul {
    list-style: none;
    margin-top: 4rem;

    a {
      padding: 0.25em 0 0;
      line-height: 1.5;
      margin-bottom: 0.25rem;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 620px) {

  #hero {
    padding: 120px 7.5% 2em;
    min-height: 200px;
    background-position: -5% -20px, 0 0;
    background-size: auto, cover !important;

    &:after {
      display: none;
    }

    .titles {
      transform: translateY(0);
      margin-top: 80px;
      margin-bottom: 50px;

      h1 {
        font-size: 2.25rem;
        line-height: 1.15;
        max-width: 12rem;
        margin: 1rem auto;
      }

      h2 {
        font-size: 1rem;
        max-width: 22rem;
        margin: 1rem auto;
        line-height: 1.5;
      }
    }

    #draftanimation_hype_container {
      display: none !important;
    }
  }

  #info,
  .feature {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    min-height: 200px;

    h3 {
      font-size: 2rem;
    }

    img {
      display: none;
    }
  }

  footer {
    ul {
      margin: 1rem 0 2rem 0;

      li {
        display: inline-block;

        a {
          margin: 0 1.5rem 0 0;
        }
      }
    }
  }
}
